---
import { Image } from "astro:assets";

import Heading from "@/components/typography/Heading.astro";
import Subheading from "@/components/typography/Subheading.astro";
import type { ImageMetadata } from "astro";

interface Props {
  image: ImageMetadata;
  imageAlt: string;
  subheading: string;
  location: string;
}

const { image, imageAlt, subheading, location } = Astro.props;
---

<article
  class="grid gap-6 md:grid-cols-[0.5fr_1fr] md:gap-16 border-t border-b border-stone-700 py-8 last:border-t-0"
>
  <Image src={image} alt={imageAlt} class="rounded-lg" />
  <!-- titles -->
  <div class="flex flex-col gap-8">
    <header class="">
      <slot name="heading" />
      <Subheading headingLevel={2}>{subheading}</Subheading>
    </header>
    <!-- details -->
    <div
      class="border-t font-mono py-4 flex flex-col md:flex-row gap-6 md:gap-16 text-sm border-b border-stone-700"
    >
      <div class="w-full">
        <p class="mb-2">Time</p>
        <slot name="time" />
      </div>
      <div class="w-full">
        <p class="mb-2">Location</p>
        <p class="text-(--nb-white) text-base">
          {location}
        </p>
      </div>
    </div>
    <!-- blurb -->
    <slot name="bodyText" />
  </div>
</article>
