<table class="w-full border-collapse">
  <colgroup>
    <col style="width: 35%" />
    <col style="width: 65%" />
  </colgroup>
  <tbody class="text-stone-400 text-sm">
    <slot />
  </tbody>
</table>
