---
import Tabs from "@/components/site-nav/Tabs.astro";
---

<nav
  class="fixed rounded-full top-5 inline-flex flex-col items-center w-full lg:left-1/2 lg:-translate-x-1/2 z-50 text-white"
>
  <Tabs />
</nav>
