---
import Tabs from "@/components/site-nav/Tabs.astro";
---

<nav
  class="absolute rounded-full bottom-5 sm:top-5 inline-flex flex-col items-center left-1/2 -translate-x-1/2 z-50 text-white"
>
  <Tabs />
</nav>
