---
const TABS = [
  {
    name: "Home",
    href: "/", // Add href for actual navigation
  },
  {
    name: "Schedule",
    href: "/schedule",
  },
  {
    name: "Sponsors",
    href: "/sponsors",
  },
];

const currentPath = Astro.url.pathname;

let initialActiveTab = TABS[0].name;

for (const tab of TABS) {
  if (currentPath === tab.href || currentPath.startsWith(tab.href + "/")) {
    initialActiveTab = tab.name;
    break;
  }
}
---

<ul class="flex border border-stone-600 bg-stone-800 rounded-full h-14 p-2">
  {
    TABS.map((tab) => (
      <li
        class:list={[
          "px-4 py-3 inline-flex items-center text-stone-400",
          {
            "text-stone-900 bg-white rounded-full":
              tab.name === initialActiveTab,
          },
        ]}
      >
        <a
          href={tab.href}
          aria-current={tab.name === initialActiveTab ? "page" : undefined}
        >
          {tab.name}
        </a>
      </li>
    ))
  }
</ul>
