@import "tailwindcss";

@font-face {
  font-family: "Sans";
  src: url("/fonts/Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sans";
  src: url("/fonts/Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SansCond";
  src: url("/fonts/CondSemibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SansMono";
  src: url("/fonts/Mono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Sans", "sans-serif";
  --font-headline: "SansCond", "sans-serif";
  --font-mono: "SansMono", "monospace";
  /* colors */
  --nb-white: #ede8de;
}

.section-y-padding {
  @apply my-32 xl:my-56;
}
