---
interface Props {
  className?: string;
  slot?: string; // TODO: What does this do?
}

const { className, slot } = Astro.props;
---

<p class={`text-stone-400 text-lg xl:text-2xl ${className}`} slot={slot}>
  <slot />
</p>
