---
import Accordion from "@/components/accordion/Accordion.astro";
import AccordionItem from "@/components/accordion/AccordionItem.astro";
import { venueLocations } from "@/components/location-table/data";
import LocationTable from "@/components/location-table/LocationTable.astro";
import LocationTableItem from "@/components/location-table/LocationTableItem.astro";
import BodyText from "@/components/typography/BodyText.astro";
---

<Accordion>
  <AccordionItem question="How much does it cost?">
    <BodyText>
      Attending the events on the 15th is <span class="font-medium text-white"
        >completely free</span
      >.  As is  VR experience on the 16th. Sky diving over Orange Beach on the 17th costs $500 per person.
    </BodyText>
  </AccordionItem>
  <AccordionItem question="What's the nearest airport?">
    <BodyText>
      The nearest airport is the Mobile International Airport (BFM), but international travelers may need to fly into Pensacola International Airport (PNS) and rent a car for the 1 hour drive from Pensacola to Mobile.
    </BodyText>
  </AccordionItem>
  <AccordionItem question="How do I register for sky-diving?">
    <BodyText>
      Registration ends June 9th so contact <a
        href="https://njump.me/npub1yrkexvt88h6cgd32gdcfm55auuz6rw6c70xj478gcz6lstz5czvs9s77xh"
        class="text-orange-400 hover:text-orange-600 hover:underline transition-colors"
        >DankSwoops</a
      > ASAP on Nostr.
    </BodyText>
  </AccordionItem>
  <AccordionItem question="What about accommodation?">
    <BodyText> There are several hotels within a few blocks of the Haberdasher.  Also some cool Nostriches might get an AirBnB or two… IYKYK </BodyText>
  </AccordionItem>
  <AccordionItem
    question="I'm a dev/musician/stripper and I want to talk/perform/strip at this event. Who do I contact?"
  >
    <BodyText>
      You should contact the event organisers: <a
        href="https://njump.me/npub16secklpnqey3el04fy2drfftsz5k26zlwdsnz84wtul2luwj8fdsugjdxk"
        class="text-orange-400 hover:text-orange-600 hover:underline transition-colors"
        >Sergio</a
      >, <a
        href="https://njump.me/npub1unm5skfa9x4drpq43pu2g00w6pzwvfhsa23z4j6aee7vghaygmkqwjtxhc"
        class="text-orange-400 hover:text-orange-600 hover:underline transition-colors"
        >Mallory</a
      > or <a
        href="https://njump.me/npub1ualvtyga8hj6kgw9mwe72ns9pn6c8kd66qruv98eafeuawg7yt0shdwmqx"
        class="text-orange-400 hover:text-orange-600 hover:underline transition-colors"
        >Riddler</a
      > on Nostr.
    </BodyText>
  </AccordionItem>
  <AccordionItem question="Where am I going again?">
    <BodyText>
      We're going here. Please confirm exact locations (Orange Beach, Riddler's
      house) with the event organisers <a
        href="https://njump.me/npub16secklpnqey3el04fy2drfftsz5k26zlwdsnz84wtul2luwj8fdsugjdxk"
        class="text-orange-400 hover:text-orange-600 hover:underline transition-colors"
        >Sergio</a
      >, <a
        href="https://njump.me/npub1unm5skfa9x4drpq43pu2g00w6pzwvfhsa23z4j6aee7vghaygmkqwjtxhc"
        class="text-orange-400 hover:text-orange-600 hover:underline transition-colors"
        >Mallory</a
      > or <a
        href="https://njump.me/npub1ualvtyga8hj6kgw9mwe72ns9pn6c8kd66qruv98eafeuawg7yt0shdwmqx"
        class="text-orange-400 hover:text-orange-600 hover:underline transition-colors"
        >Riddler</a
      > on Nostr.
    </BodyText>
    <div class="w-full">
      <LocationTable>
        {
          venueLocations.map((loc) => (
            <LocationTableItem
              venueName={loc.venueName}
              address={loc.address}
              mapLink={loc.mapLink}
              venueWebsite={loc.venueWebsite}
            />
          ))
        }
      </LocationTable>
    </div>
  </AccordionItem></Accordion
>
