---
import { Picture } from "astro:assets";
import homeHero from "@/assets/images/home-hero.jpeg";
import nbLogo from "@/assets/images/nb_logo--3d.png";
import homeCollage from "@/assets/images/home-collage.png";
import Heading from "@/components/typography/Heading.astro";
import Subheading from "@/components/typography/Subheading.astro";
---

<header class="outer-padding mt-2 lg:mt-8 xl:mt-12">
  <div
    class="relative w-full min-h-[400px] h-[50vh] md:min-h-[550px] md:h-[70vh] lg:min-h-[660px] lg:h-[70vh] xl:min-h-[800px] xl:h-[70vh] rounded md:rounded-lg lg:rounded-xl xl:rounded-2xl overflow-hidden mb-3 xl:mb-12"
  >
    <div class="absolute inset-0">
      <Picture
        src={homeHero}
        alt="Collage of psychedelic imagery of ostriches and shapes"
        formats={["avif", "webp"]}
        widths={[640, 768, 1024, 1280, 1536, 1920, 2560]}
        sizes="100vw"
        loading="eager"
        fetchpriority="high"
        class="object-cover w-full h-full"
      />
    </div>
    <Picture
      src={nbLogo}
      alt="Nostrbama Logo"
      formats={["avif", "webp"]}
      widths={[200, 400, 600, 800, 1200, 1600]}
      sizes="(max-width: 768px) 80vw, 67vw"
      loading="lazy"
      decoding="async"
      class="z-10 absolute max-w-2/3 left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 w-4/5"
    />
  </div>
  <div>
    <Heading level={1}>
      Welcome to Nostrbama 2025, the BEST Nostr Conference in the Gulf States!
    </Heading>
    <Subheading headingLevel={1}>
      Join us for 3 days and nights of fun events, from Live Music to Skydiving.
      <span class="text-(--nb-white)">July 15-17 2025, Mobile, Alabama</span> right
      in the heart of the Gulf Coast. Check out our <a
        class="text-orange-400 underline"
        href="/schedule">Schedule</a
      > and <a class="text-orange-400 underline" href="/sponsors">Sponsors</a> sections
      for more info, and we hope to see you there!
    </Subheading>
  </div>
</header>

