---
import { Picture } from "astro:assets";

import ctaPattern from "@/assets/images/cta/cta-pattern.jpg";
import nbLogoGold from "@/assets/images/cta/nb_logo--gold.png";
import activitiesV from "@/assets/images/cta/cta_v-image.png";
---

<section class="outer-padding">
  <div class="relative h-[600px] rounded md:rounded-lg lg:rounded-xl xl:rounded-2xl overflow-hidden">
    <Picture
      src={nbLogoGold}
      formats={["avif", "webp", "jpg"]}
      alt="absolute top-1/2 -translate-y-1/2 z-10"
      class="absolute top-1/2 -translate-y-1/2 z-20 w-[90%] left-1/2 -translate-x-1/2"
    />
    <Picture
      src={activitiesV}
      formats={["avif", "webp", "jpg"]}
      alt="absolute top-1/2 -translate-y-1/2 z-20"
      class="absolute top-1/2 -translate-y-1/2 w-[95%] left-1/2 -translate-x-1/2 z-10"
    />
    <div class="absolute inset-0">
      <Picture
        src={ctaPattern}
        formats={["avif", "webp", "jpg"]}
        alt="absolute inset-0"
        class="object-cover w-full h-full"
      />
    </div>
    <h2
      class="absolute top-7 text-(--nb-white) font-headline text-4xl w-[60%] text-center left-1/2 -translate-x-1/2 z-40 text-shadow-2xs"
    >
      We hope to see you there, anon!
    </h2>
    <p
      class="absolute bottom-7 text-(--nb-white) font-headline text-4xl w-[60%] text-center left-1/2 -translate-x-1/2 z-40 text-shadow-2xs"
    >
      July 15—17 2025, Mobile, Alabama
    </p>
  </div>
</section>
