---
import { Picture } from "astro:assets";

import ctaPattern from "@/assets/images/cta/cta-pattern.jpg";
import nbLogoGold from "@/assets/images/cta/nb_logo--gold.png";
import activitiesV from "@/assets/images/cta/cta_v-image.png";
import Heading from "@/components/typography/Heading.astro";
import Subheading from "@/components/typography/Subheading.astro";
---

<section class="outer-padding">
  <div class="relative h-[600px] rounded md:rounded-lg lg:rounded-xl xl:rounded-2xl overflow-hidden">
    <Picture
      src={nbLogoGold}
      formats={["avif", "webp", "jpg"]}
      alt="absolute top-1/2 -translate-y-1/2 z-10"
      class="absolute top-1/2 -translate-y-1/2 z-20 w-[90%] left-1/2 -translate-x-1/2"
    />
    <Picture
      src={activitiesV}
      formats={["avif", "webp", "jpg"]}
      alt="absolute top-1/2 -translate-y-1/2 z-20"
      class="absolute top-1/2 -translate-y-1/2 w-[95%] left-1/2 -translate-x-1/2 z-10"
    />
    <div class="absolute inset-0">
      <Picture
        src={ctaPattern}
        formats={["avif", "webp", "jpg"]}
        alt="absolute inset-0"
        class="object-cover w-full h-full"
      />
    </div>
    <Heading level={2}>
      We hope to see you there, anon!
    </Heading>
    <Subheading headingLevel={2}>
      July 15—17 2025, Mobile, Alabama
    </Subheading>
  </div>
</section>
