---
interface Props {
  title: string;
  subheadline?: string;
  className?: string;
}

const { title, subheadline, className = "" } = Astro.props;
---

<section class={className ? className : ""}>
  <header class="p-2">
    <h2 class="text-(--nb-white) font-headline text-4xl md:text-5xl mb-6">{title}</h2>
    {subheadline && <p class="text-stone-400 md:text-xl text-lg max-w-[65ch]">{subheadline}</p>}
  </header>
  <slot />
</section>
