---
import Heading from '@/components/typography/Heading.astro';
import Subheading from '@/components/typography/Subheading.astro';

interface Props {
  title: string;
  subheadline?: string;
  className?: string;
  headerClassName?: string;
}

const { title, subheadline, className = "", headerClassName } = Astro.props;
---

<section
  class={className ? `${className} outer-padding section-y-padding` : "outer-padding"}
>
  <header class={headerClassName ? headerClassName : ""}>
    <Heading level={2}
    >
      {title}
    </Heading>
    {
      subheadline && (
      <Subheading headingLevel={2}>
           {subheadline}
      </Subheading>
      )
    }
  </header>
  <slot />
</section>
