---
import ClientRouter from "astro/components/ClientRouter.astro";
import SiteNav from "@/components/site-nav/SiteNav.astro";
import "./src/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Nostrbama 2025</title>
    <ClientRouter />
  </head>
  <body class="dark:bg-stone-900 text-stone-400 antialiased">
    <SiteNav />
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .sup {
    vertical-align: super;
    font-size: 0.6em;
    top: -0.15em;
    line-height: 0;
    position: relative;
  }

  .outer-padding {
    padding: 0 1rem 0 1rem;

    & @media (min-width: 640px) {
      padding: 0 1rem 0 1rem;
    }
    @media (min-width: 768px) {
      padding: 0 1.5rem 0 1.5rem;
    }
    @media (min-width: 1024px) {
      padding: 0 2rem 0 2rem;
    }
    @media (min-width: 1280px) {
      padding: 0 2.5rem 0 2.5rem;
    }
    @media (min-width: 1536px) {
      padding: 0 3rem 0 3rem;
    }
  }
</style>
